section.contato ul {
  list-style: none; }
  section.contato ul li + li {
    margin-top: 15px; }
  section.contato ul li {
    font-size: 14px;
    color: #ecf0ff; }
    section.contato ul li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      color: #ecf0ff;
      font-weight: bold;
      text-decoration: none;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      padding: 10px 15px;
      border-radius: 8px;
      border: 2px solid #ecf0ff;
      max-width: 120px; }
      section.contato ul li a i {
        margin-right: 10px;
        font-weight: normal;
        font-size: 16px; }
    section.contato ul li a:hover {
      color: #080120;
      background: #ecf0ff; }

section.contato form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%; }
  section.contato form input + input,
  section.contato form input + textarea,
  section.contato form textarea + button {
    margin-top: 15px; }
  section.contato form input,
  section.contato form textarea {
    background: transparent;
    border: 1px solid #ecf0ff;
    padding: 10px;
    border-radius: 4px;
    color: #ecf0ff;
    font-family: "Oxygen", sans-serif;
    font-size: 14px; }
  section.contato form input::-webkit-input-placeholder,
  section.contato form textarea::-webkit-input-placeholder {
    color: #ecf0ff;
    font-family: "Oxygen", sans-serif;
    font-size: 14px; }
  section.contato form input:-ms-input-placeholder,
  section.contato form textarea:-ms-input-placeholder {
    color: #ecf0ff;
    font-family: "Oxygen", sans-serif;
    font-size: 14px; }
  section.contato form input::-ms-input-placeholder,
  section.contato form textarea::-ms-input-placeholder {
    color: #ecf0ff;
    font-family: "Oxygen", sans-serif;
    font-size: 14px; }
  section.contato form input::placeholder,
  section.contato form textarea::placeholder {
    color: #ecf0ff;
    font-family: "Oxygen", sans-serif;
    font-size: 14px; }
  section.contato form button {
    width: 120px;
    padding: 10px 15px;
    border-radius: 8px;
    border: 2px solid #ecf0ff;
    background: transparent;
    color: #ecf0ff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  section.contato form button:hover {
    background: #ecf0ff;
    color: #080120; }
