footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #051923;
  padding: 25px 0px; }
  footer p {
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #fff; }
