* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  background: #080120;
  color: #ecf0ff;
  font-family: "Oxygen", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0; }

h2 {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 35px; }

section {
  background: #003554;
  padding: 50px 0px; }

.container {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 15px; }

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px; } }

@media (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 540px; } }

@media screen and (max-width: 576px) {
  .container {
    max-width: 100%; } }

.colunas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  .colunas .coluna {
    width: 100%; }

@media screen and (max-width: 991px) {
  .colunas {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .colunas .coluna + .coluna {
      margin-top: 50px; } }
