header#header {
  background: #051923;
  color: #ecf0ff;
  width: 100%; }
  header#header nav.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 25px 0px; }
    header#header nav.navbar a.navbar-brand {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      border-radius: 4px;
      padding: 0 10px; }
      header#header nav.navbar a.navbar-brand img {
        height: 70px;
        width: auto;
        margin: 0; }
    header#header nav.navbar .navbar-toggler {
      outline: 0; }
      header#header nav.navbar .navbar-toggler i {
        color: #fff;
        font-size: 24px; }
    header#header nav.navbar #navbarNav ul.navbar-nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      list-style: none;
      margin: 0;
      width: 100%; }
      header#header nav.navbar #navbarNav ul.navbar-nav li.nav-item {
        margin-left: 70px; }
      header#header nav.navbar #navbarNav ul.navbar-nav li.nav-item a.nav-link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 5px 0px;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        color: #ecf0ff;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
      header#header nav.navbar #navbarNav ul.navbar-nav li.nav-item a.nav-link:hover {
        border-bottom: 2px solid #ecf0ff; }

header#header.bg-fixed {
  position: fixed;
  z-index: 999;
  width: 100%;
  -webkit-box-shadow: 1px 1px 15px 0px #051923;
  box-shadow: 1px 1px 15px 0px #051923;
  -webkit-animation: slide-down 0.5s forwards;
  animation: slide-down 0.5s forwards; }

@-webkit-keyframes slide-down {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }

@keyframes slide-down {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }

@media screen and (max-width: 991px) {
  header#header nav.navbar {
    padding: 15px 0; }
    header#header nav.navbar a.navbar-brand {
      margin: 0;
      padding-right: 0; }
      header#header nav.navbar a.navbar-brand img {
        height: 50px;
        width: auto; }
    header#header nav.navbar #navbarNav {
      padding-top: 15px; }
      header#header nav.navbar #navbarNav ul.navbar-nav li.nav-item {
        margin-left: 15px; }
        header#header nav.navbar #navbarNav ul.navbar-nav li.nav-item a.nav-link {
          border: 0; }
        header#header nav.navbar #navbarNav ul.navbar-nav li.nav-item a.nav-link:hover {
          border: 0; } }
