section.principal {
  background: url("../imagens/bg-principal.jpg") center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: calc(100vh - 120px);
  position: relative; }
  section.principal .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    z-index: 10; }
  section.principal h1 {
    font-size: 50px;
    font-weight: bold;
    color: #ecf0ff;
    margin-bottom: 15px;
    text-shadow: 1px 1px 0px #000; }
  section.principal h2 {
    font-size: 28px;
    font-weight: 400;
    color: #ecf0ff;
    text-shadow: 1px 1px 0px #000;
    margin-bottom: 10px; }

section.principal::before {
  content: "";
  position: absolute;
  top: 0;
  background: rgba(5, 25, 35, 0.8);
  height: 100%;
  width: 100%;
  z-index: 5; }

@media screen and (max-width: 991px) {
  section.principal {
    height: calc(100vh - 80px); } }

@media screen and (max-width: 576px) {
  section.principal h1 {
    font-size: 40px; }
  section.principal h2 {
    font-size: 22.4px; } }

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  background: #080120;
  color: #ecf0ff;
  font-family: "Oxygen", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0; }

h2 {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 35px; }

section {
  background: #003554;
  padding: 50px 0px; }

.container {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 15px; }

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px; } }

@media (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 540px; } }

@media screen and (max-width: 576px) {
  .container {
    max-width: 100%; } }

.colunas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  .colunas .coluna {
    width: 100%; }

@media screen and (max-width: 991px) {
  .colunas {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .colunas .coluna + .coluna {
      margin-top: 50px; } }

header#header {
  background: #051923;
  color: #ecf0ff;
  width: 100%; }
  header#header nav.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 25px 0px; }
    header#header nav.navbar a.navbar-brand {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      border-radius: 4px;
      padding: 0 10px; }
      header#header nav.navbar a.navbar-brand img {
        height: 70px;
        width: auto;
        margin: 0; }
    header#header nav.navbar .navbar-toggler {
      outline: 0; }
      header#header nav.navbar .navbar-toggler i {
        color: #fff;
        font-size: 24px; }
    header#header nav.navbar #navbarNav ul.navbar-nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      list-style: none;
      margin: 0;
      width: 100%; }
      header#header nav.navbar #navbarNav ul.navbar-nav li.nav-item {
        margin-left: 70px; }
      header#header nav.navbar #navbarNav ul.navbar-nav li.nav-item a.nav-link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 5px 0px;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        color: #ecf0ff;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
      header#header nav.navbar #navbarNav ul.navbar-nav li.nav-item a.nav-link:hover {
        border-bottom: 2px solid #ecf0ff; }

header#header.bg-fixed {
  position: fixed;
  z-index: 999;
  width: 100%;
  -webkit-box-shadow: 1px 1px 15px 0px #051923;
  box-shadow: 1px 1px 15px 0px #051923;
  -webkit-animation: slide-down 0.5s forwards;
  animation: slide-down 0.5s forwards; }

@-webkit-keyframes slide-down {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }

@keyframes slide-down {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }

@media screen and (max-width: 991px) {
  header#header nav.navbar {
    padding: 15px 0; }
    header#header nav.navbar a.navbar-brand {
      margin: 0;
      padding-right: 0; }
      header#header nav.navbar a.navbar-brand img {
        height: 50px;
        width: auto; }
    header#header nav.navbar #navbarNav {
      padding-top: 15px; }
      header#header nav.navbar #navbarNav ul.navbar-nav li.nav-item {
        margin-left: 15px; }
        header#header nav.navbar #navbarNav ul.navbar-nav li.nav-item a.nav-link {
          border: 0; }
        header#header nav.navbar #navbarNav ul.navbar-nav li.nav-item a.nav-link:hover {
          border: 0; } }

section.servicos ul#services-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: sans-serif;
  width: 100%; }
  section.servicos ul#services-list li.service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    width: 100%;
    border-radius: 8px;
    padding: 15px;
    background: transparent;
    border: 1px solid #ecf0ff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    section.servicos ul#services-list li.service img {
      height: 70px;
      width: auto;
      -o-object-fit: contain;
      object-fit: contain;
      margin-bottom: 15px; }
    section.servicos ul#services-list li.service p {
      font-size: 15px;
      font-weight: 400; }
    section.servicos ul#services-list li.service p.title {
      font-size: 18px;
      font-weight: 900;
      text-align: center;
      color: #ecf0ff;
      margin-bottom: 10px; }
  section.servicos ul#services-list li.service:hover {
    border-style: dashed; }

@media screen and (max-width: 767px) {
  section.servicos ul#services-list {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr); } }

section.projetos ul#repo-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: sans-serif;
  width: 100%; }
  section.projetos ul#repo-list li.repo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center;
    clear: both;
    width: 100%;
    height: auto;
    border-radius: 8px;
    padding: 15px;
    background: transparent;
    border: 1px solid #ecf0ff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    section.projetos ul#repo-list li.repo .boxImg {
      background: #fff;
      margin-bottom: 10px;
      border-radius: 8px; }
      section.projetos ul#repo-list li.repo .boxImg img {
        height: 70px;
        width: auto;
        float: left;
        margin: 5px; }
    section.projetos ul#repo-list li.repo strong {
      font-size: 18px;
      text-transform: capitalize; }
    section.projetos ul#repo-list li.repo p {
      margin: 5px 0;
      font-size: 15px; }
    section.projetos ul#repo-list li.repo a {
      text-decoration: none;
      color: #ecf0ff;
      font-size: 14px;
      font-weight: bold;
      padding-bottom: 5px;
      border-bottom: 2px solid transparent;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    section.projetos ul#repo-list li.repo a:hover {
      border-bottom: 2px solid #ecf0ff; }
    section.projetos ul#repo-list li.repo p.techs {
      text-align: center;
      font-size: 13px;
      font-weight: bold;
      margin-bottom: 5px; }
    section.projetos ul#repo-list li.repo ul.list-tags {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      list-style: none;
      margin: 0;
      margin-top: 5px;
      margin-bottom: 15px;
      width: 100%; }
      section.projetos ul#repo-list li.repo ul.list-tags li.tag {
        margin: 0 5px;
        padding: 2px 5px;
        border-radius: 4px;
        font-size: 12px;
        background: transparent;
        border: 1px solid #ecf0ff; }
  section.projetos ul#repo-list li.repo:hover {
    border-style: dashed; }

@media (min-width: 768px) and (max-width: 991px) {
  section.projetos ul#repo-list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 767px) {
  section.projetos ul#repo-list {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr); } }

section.contato ul {
  list-style: none; }
  section.contato ul li + li {
    margin-top: 15px; }
  section.contato ul li {
    font-size: 14px;
    color: #ecf0ff; }
    section.contato ul li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      color: #ecf0ff;
      font-weight: bold;
      text-decoration: none;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      padding: 10px 15px;
      border-radius: 8px;
      border: 2px solid #ecf0ff;
      max-width: 120px; }
      section.contato ul li a i {
        margin-right: 10px;
        font-weight: normal;
        font-size: 16px; }
    section.contato ul li a:hover {
      color: #080120;
      background: #ecf0ff; }

section.contato form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%; }
  section.contato form input + input,
  section.contato form input + textarea,
  section.contato form textarea + button {
    margin-top: 15px; }
  section.contato form input,
  section.contato form textarea {
    background: transparent;
    border: 1px solid #ecf0ff;
    padding: 10px;
    border-radius: 4px;
    color: #ecf0ff;
    font-family: "Oxygen", sans-serif;
    font-size: 14px; }
  section.contato form input::-webkit-input-placeholder,
  section.contato form textarea::-webkit-input-placeholder {
    color: #ecf0ff;
    font-family: "Oxygen", sans-serif;
    font-size: 14px; }
  section.contato form input:-ms-input-placeholder,
  section.contato form textarea:-ms-input-placeholder {
    color: #ecf0ff;
    font-family: "Oxygen", sans-serif;
    font-size: 14px; }
  section.contato form input::-ms-input-placeholder,
  section.contato form textarea::-ms-input-placeholder {
    color: #ecf0ff;
    font-family: "Oxygen", sans-serif;
    font-size: 14px; }
  section.contato form input::placeholder,
  section.contato form textarea::placeholder {
    color: #ecf0ff;
    font-family: "Oxygen", sans-serif;
    font-size: 14px; }
  section.contato form button {
    width: 120px;
    padding: 10px 15px;
    border-radius: 8px;
    border: 2px solid #ecf0ff;
    background: transparent;
    color: #ecf0ff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  section.contato form button:hover {
    background: #ecf0ff;
    color: #080120; }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #051923;
  padding: 25px 0px; }
  footer p {
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #fff; }
