section.servicos ul#services-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: sans-serif;
  width: 100%; }
  section.servicos ul#services-list li.service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    width: 100%;
    border-radius: 8px;
    padding: 15px;
    background: transparent;
    border: 1px solid #ecf0ff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    section.servicos ul#services-list li.service img {
      height: 70px;
      width: auto;
      -o-object-fit: contain;
      object-fit: contain;
      margin-bottom: 15px; }
    section.servicos ul#services-list li.service p {
      font-size: 15px;
      font-weight: 400; }
    section.servicos ul#services-list li.service p.title {
      font-size: 18px;
      font-weight: 900;
      text-align: center;
      color: #ecf0ff;
      margin-bottom: 10px; }
  section.servicos ul#services-list li.service:hover {
    border-style: dashed; }

@media screen and (max-width: 767px) {
  section.servicos ul#services-list {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr); } }
