section.contato {
  ul {
    list-style: none;

    li + li {
      margin-top: 15px;
    }

    li {
      font-size: 14px;
      color: #ecf0ff;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ecf0ff;
        font-weight: bold;
        text-decoration: none;
        transition: all 0.3s;
        padding: 10px 15px;
        border-radius: 8px;
        border: 2px solid #ecf0ff;
        max-width: 120px;

        i {
          margin-right: 10px;
          font-weight: normal;
          font-size: 16px;
        }
      }

      a:hover {
        color: #080120;
        background: #ecf0ff;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;

    input + input,
    input + textarea,
    textarea + button {
      margin-top: 15px;
    }

    input,
    textarea {
      background: transparent;
      border: 1px solid #ecf0ff;
      padding: 10px;
      border-radius: 4px;
      color: #ecf0ff;
      font-family: "Oxygen", sans-serif;
      font-size: 14px;
    }

    input::placeholder,
    textarea::placeholder {
      color: #ecf0ff;
      font-family: "Oxygen", sans-serif;
      font-size: 14px;
    }

    button {
      width: 120px;
      padding: 10px 15px;
      border-radius: 8px;
      border: 2px solid #ecf0ff;
      background: transparent;
      color: #ecf0ff;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s;
    }
    button:hover {
      background: #ecf0ff;
      color: #080120;
    }
  }
}
