footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #051923;
  padding: 25px 0px;

  p {
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
  }
}
