section.principal {
    background: url("../imagens/bg-principal.jpg") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: calc(100vh - 120px);
    position: relative;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        z-index: 10;
    }

    h1 {
        font-size: 50px;
        font-weight: bold;
        color: #ecf0ff;
        margin-bottom: 15px;
        text-shadow: 1px 1px 0px #000;
    }

    h2 {
        font-size: 28px;
        font-weight: 400;
        color: #ecf0ff;
        text-shadow: 1px 1px 0px #000;
        margin-bottom: 10px;
    }
}

section.principal::before {
    content: "";
    position: absolute;
    top: 0;
    background: rgba(#051923, 0.8);
    height: 100%;
    width: 100%;
    z-index: 5;
}

@media screen and(max-width: 991px) {
    section.principal {
        height: calc(100vh - 80px);
    }
}

@media screen and(max-width: 576px) {
    section.principal {
        h1 {
            font-size: 50 * 0.8px;
        }

        h2 {
            font-size: 28 * 0.8px;
        }
    }
}
