section.projetos {
    ul#repo-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 25px;
        list-style: none;
        margin: 0;
        padding: 0;
        font-weight: sans-serif;
        width: 100%;

        li.repo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            text-align: center;
            clear: both;
            width: 100%;
            height: auto;
            border-radius: 8px;
            padding: 15px;
            background: transparent;
            border: 1px solid #ecf0ff;
            transition: all 0.3s;

            .boxImg {
                background: #fff;
                margin-bottom: 10px;
                border-radius: 8px;
                
                img {
                    height: 70px;
                    width: auto;
                    float: left;
                    margin: 5px;
                }
            }

            strong {
                font-size: 18px;
                text-transform: capitalize;
            }

            p {
                margin: 5px 0;
                font-size: 15px;
            }

            a {
                text-decoration: none;
                color: #ecf0ff;
                font-size: 14px;
                font-weight: bold;
                padding-bottom: 5px;
                border-bottom: 2px solid transparent;
                transition: all 0.3s;
            }

            a:hover {
                border-bottom: 2px solid #ecf0ff;
            }

            p.techs {
                text-align: center;
                font-size: 13px;
                font-weight: bold;
                margin-bottom: 5px;
            }

            ul.list-tags {
                display: flex;
                justify-content: center;
                list-style: none;
                margin: 0;
                margin-top: 5px;
                margin-bottom: 15px;
                width: 100%;

                li.tag {
                    margin: 0 5px;
                    padding: 2px 5px;
                    border-radius: 4px;
                    font-size: 12px;
                    background: transparent;
                    border: 1px solid #ecf0ff;
                }
            }
        }

        li.repo:hover {
            border-style: dashed;
        }
    }
}

@media (min-width: 768px) and(max-width: 991px) {
    section.projetos {
        ul#repo-list {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and(max-width: 767px) {
    section.projetos {
        ul#repo-list {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
